<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Questionnaire response</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    
    <link href="css/error_banner.css" rel="stylesheet">
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <li>
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Home">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-chart-line"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Gamified Marketing</div>
            </a>
			</li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="Home">
                    <i class="fas fa-fw fa-home"></i>
                    <span>HomePage</span></a>
            </li>
            <li class="nav-item">
	            	<a class="nav-link" href="GoToMyQuestionnaire"><i class="fab fa-fw fa-wpforms"></i>
                    <span>My Questionnaires</span></a>
	        </li>

            

            <!-- Heading: Admin section -->
        <th:block th:if="${user.getAdmin() == 1}">
        	<!-- Divider -->
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Admin settings
            </div>
            
            <li class="nav-item">
	            	<a class="nav-link" href="GoToAddProduct"><i class="fas fa-fw fa-cart-plus"></i>
                    <span>AddProduct</span></a>
	        </li>
	        <li class="nav-item">
	            	<a class="nav-link" href="GoToDeletionPage"><i class="fas fa-fw fa-trash-alt"></i>
                    <span>Delete questionnaire</span></a>
	        </li>
	        
	        <li class="nav-item">
	            	<a class="nav-link" href="ShowQuestionnaires"><i class="fas fa-fw fa-eye"></i>
                    <span>Show questionnaires</span></a>
	        </li>
	        <li class="nav-item">
	            	<a class="nav-link" href="GoToStatisticsPage"><i class="fas fa-fw fa-chart-pie"></i>
                    <span>Show statistics</span></a>
	        </li>
	        </th:block>
	        
	        <hr class="sidebar-divider">
	        
	        <div class="sidebar-heading">
                Information
            </div>
	        
	        <li class="nav-item">
                <a class="nav-link" href="GoToLeaderboard">
                    <i class="fas fa-fw fa-list-ol"></i>
                    <span>Leaderboard</span></a>
            </li>
            
            <hr class="sidebar-divider">
		<!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>     
                        </li>
                        
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:inline="text">[[${user.getUsername()}]]</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="Profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="Logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                
                <th:block th:if="${server_error == 1}">
					<div class="alert">
                    	<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    	<strong>Server error!</strong> Unable to send questionnaire.
                	</div>
                </th:block>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                           <div class="p-5">
                               <div class="text-center">
                                   <h1 class="h4 text-gray-900 mb-4">Compile the questionnaire</h1>
                               </div>
                               
                                
                                
                               <form class="user" id="questionnaireForm" name="questionnaireForm" action="AddResponses" method="GET" >
                                   <div id="part1">
                                   		
                                   		<div th:each="question, iterator: ${questions}" class="form-check">
                                   	   		<label th:for="${'Question'+iterator.count}" th:text="${question.content}"></label>
    								  	 	<input type="text" class="form-control" th:id="${'Question'+iterator.count}" th:name="${'Question'+iterator.count}" placeholder="type here..." required>
    								  	 	<input type="hidden" th:name="${'q'+iterator.count}" th:value="${question.id}" required>
    								   </div>
    								   
    								   <div class="form-check">
                                   	   		<button type="button" class="btn btn-primary" onclick="goNext()">Next</button>
    								   </div>
    								   
                                   </div >
                                   <div id="part2" style="display:none">
	                                   <p>Select Gender:</p>
	                                   <div class="form-check">
										  <input class="form-check-input" type="radio" name="genderRadio" id="maleRadio" value="M">
										  <label class="form-check-label" for="flexRadioDefault1">
										   	 Male
										  </label>
									   </div>
									   <div class="form-check">
										  <input class="form-check-input" type="radio" name="genderRadio" id="femaleRadio" value="F">
										  <label class="form-check-label" for="flexRadioDefault1">
										   	 Female
										  </label>
									   </div>
									   <div class="form-check">
										  <input class="form-check-input" type="radio" name="genderRadio" id="noneRadio" value=" " checked>
										  <label class="form-check-label" for="flexRadioDefault1">
										   	 NONE
										  </label>
									   </div>
	                                   <div class="form-group">
									    	<label for="expLevel">Select your expertise level</label>
										    <select class="form-control" id="expLevel" name="expLevel">
										      <option></option>
										      <option>Low</option>
										      <option>Medium</option>
										      <option>High</option>
										    </select>
									  	</div>
									  	<div class="form-group">
									    	<label for="age">Age:</label>
										    <input class="form-control" id="age" name="age" type=number min=16 max=110>
									  	</div>
									  	<div align="center">
									  	<button type="button" class="btn btn-primary" onclick="goPrev()">Back</button>
									  	<button type="button" class="btn btn-primary" onclick="cancelForm()">Delete</button>
									  	<input type="submit" class="btn btn-primary" onclick="submitForm" value="invia">
									  	<input type="hidden" th:value="${nrQuestions}" name="nrQuestions">
									  	</div>
								  	</div>
                               </form>
                               
                               
                           </div>
                    </div>
                </div>

            </div>

        </div>
                    
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; GamifiedMarketing 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script src="js/demo/wizard.js"></script>

</body>

</html>
